<ion-header >
  <ion-toolbar>
    <ion-title class="grey-100">
      صفحة التسعير 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class=" bg-white"> 
  <ion-list class="pt-5">

    <ion-item>
      <ion-icon name="pin-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        مكان المغادرة
      </ion-label>
    </ion-item>
    <ion-item class="pt-2 font-bold" lines="none" dir="ltr">
      {{rideSource}}
    </ion-item>
  
    <ion-item class="pt-2" >
      <ion-icon name="golf-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        مكان الوصول
      </ion-label>
    </ion-item>
    <ion-item class="pt-2 font-bold" lines="none" dir="ltr">
      {{rideDestination}}
    </ion-item>

    <ion-item class="pt-2" >
      <ion-icon name="analytics-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        المسافة 
      </ion-label>
    </ion-item>
    <ion-item class="pt-2 font-bold" lines="none" dir="ltr">
      {{rideDistanceText}}
    </ion-item>

    <ion-item class="pt-2">
      <ion-icon name="timer-outline" color="tertiary" slot="start"></ion-icon>
      <ion-label>
        متوسط ​​الوقت 
      </ion-label>
    </ion-item>
    <ion-item class="pt-2 font-bold" lines="none" dir="ltr">
      {{rideAverageDuration}}
    </ion-item>

    <div class="permitted-price" >
      <ion-item class="header">
        <!-- *ngIf="isPriceValid" -->
        <ion-icon name="cash-outline" color="light" slot="start"></ion-icon>
        <ion-label>
          السعر المسموح للفرد 
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          من
        </ion-label>
        <ion-label>
          {{minPermittedPrice}} RSA
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          إلى
        </ion-label>
        <ion-label>{{maxPermittedPrice}} RSA</ion-label>
      </ion-item>

      <ion-item lines="none">
        للمزيد من المعلومات انقر هنا
      </ion-item>
    </div>

    <ion-item lines="none" class="pt-5">
      <ion-label style="color:rgb(255, 45, 45)">
        أدخل السعر بالريال
      </ion-label>
    </ion-item>
    
    <ion-item class="pb-5">
      <ion-label>
        أدخل السعر
      </ion-label>
      <ion-input [(ngModel)]="ridePrice" type="number" (ionChange)="priceChange()"></ion-input>
    </ion-item>
  </ion-list>
  <div class="flex item-center justify-center mt-5" *ngIf="next">
    <ion-fab>
      <ion-fab-button class="flex-row" (click)="nextStep()">
        <ion-icon name="arrow-forward-outline" size="large" ></ion-icon>
      </ion-fab-button> 
    </ion-fab>
  </div>
</ion-content> 