<ion-content [fullscreen]="true" color="light">
  
  <div class="wrapper">
    <div class="overlay-wrapper"></div>
    <ion-header  class="ion-no-border">
      <ion-toolbar>
          <ion-button slot="end" class="box-none mt-3" style="--background: transparent">
            <ion-icon name="chevron-back" size="large" class="yellow-dark"></ion-icon>
          </ion-button>    
      </ion-toolbar>
    </ion-header>
    <ion-item class="mt-2 mb-5" lines="none">
      <ion-icon name="heart" slot="start" size="small" class="yellow-dark"></ion-icon>
      <ion-label>
        <ul>
          <li>
            <h2 class="text-lg yellow-dark">تفضيلاتي</h2>
          </li>
          <li><span class="text-sm yellow-dark">يمكنك اختيار أي مما يلي تسمح به </span></li>
        </ul>
      </ion-label>
    </ion-item>

    <ion-card class="main-card mt-5">
      <ion-card-content>
        <!-- <ion-card>
          <ion-card-content> -->

            <ion-item>
              <ion-label>
                موسيقى
              </ion-label>
              <label class="radiobutton_container">
                <span class="ml-2">نعم</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark"></span>
              </label>
                
              <label class="radiobutton_container mr-3">
                <span class="ml-2">لا</span>
                
                <input name="type" type="radio">
                <span class="radiobutton_mark mr-5"></span>
              </label>
            </ion-item>
            <ion-item>
              <ion-label>
                التدخين
              </ion-label>
              <label class="radiobutton_container">
                <span class="ml-2">نعم</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark"></span>
              </label>
                
              <label class="radiobutton_container mr-3">
                <span class="ml-2">لا</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark mr-5"></span>
              </label>
            </ion-item>
            <ion-item>
              <ion-label>
                دردشة
              </ion-label>
              <label class="radiobutton_container">
                <span class="ml-2">نعم</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark"></span>
              </label>
                
              <label class="radiobutton_container mr-3">
                <span class="ml-2">لا</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark mr-5"></span>
              </label>
            </ion-item>
            <ion-item>
              <ion-label>
                الحيوانات الأليفة
              </ion-label>
              <label class="radiobutton_container">
                <span class="ml-2">نعم</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark"></span>
              </label>
                
              <label class="radiobutton_container mr-3">
                <span class="ml-2">لا</span>
                <input name="type" type="radio">
                <span class="radiobutton_mark mr-5"></span>
              </label>
            </ion-item>
          <!-- </ion-card-content>
        </ion-card> -->
        
       
       
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>